@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  min-height: 100vh;
  font-size: 16px;
}
